* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Aseguramos que el cuerpo ocupe toda la pantalla */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita scroll horizontal accidental */
  font-family: 'Inter', sans-serif; /* Ya que estamos, definimos la fuente global */
}

/* Opcional: Para que los inputs y botones hereden la fuente bonita */
input, button, select, textarea {
  font-family: inherit;
}